* {
  box-sizing: border-box;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family:Tahoma, sans-serif;
}

h5 {
  margin-top:7px;
  font-weight: bold;
}

.main-container {
  width: 90vw;
  height: 90vh;
  margin: auto;
  border: 1px solid #eee;
}

.header {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 10vh;
  align-items: center;
  border-left:1px solid #eee;
  padding-left: 10px;
}

.count{
  padding-left: 10px;
  padding-top: 10px;
}

.countries {
  width: 90vw;
  height: 90vh;
  border: none;
}

.card{
  width: 90vw;
  max-height:100vh;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 177px;
}

.each-card {
  text-align: center;
  margin: 10px;
  background-color: white;
  width: 180px;
  height: 250px;
  border: 1px solid #ccc;
  justify-content: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-links{
  display: flex;
  justify-content: end;
}

.active{
  background-color: blue;
  color:white;
}

.disabled{
  color: grey;
}

.no-record{
  color:red;
  font-weight: bold;
}